<% if @idea.present? %>
	<%= link_to 'Inspire Me!', random_path,  class: 'btn btn-primary btn-block btn-lg', id: 'inspire_button' %>

	<div class="panel panel-default">
	  <div class="panel-body" style="margin-top: 25px;">
		<h3><%= @idea.description %></h3>
		<h4 class="pull-right">by <%= @idea.author %></h4>
		<br>
		<%= link_to 'Delete', idea_path(@idea), method: :delete, class: 'btn btn-sm pull-right', data: {confirm: "Are you sure?"} %>
		<%= link_to 'Revise', edit_idea_path(@idea), class: 'btn btn-sm pull-left' %>
	  </div>
	</div>
<% else %>
	<h4>No ideas have been shared. Add one <%= link_to 'here' , root_path %></h4>
<% end %>