<%= simple_form_for Idea.new do |f| %>
	<%= f.input :description %>
	<%= f.input :author %>
	<%=f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>

<% @ideas.each do |idea| %>
<div class="panel panel-default">
  <div class="panel-body">
	<h3><%= idea.description %></h3>
	<h4 class="pull-right"><%= idea.author %></h4>
  </div>
</div>


<% end %>